<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Profile Summary</title>
  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/summary.css' />
</head>

<body>

  <div>
    <nav id="navbar">
      <% include ./partials/_navbar %>
    </nav>
  </div>
  <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic"
        src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
      <div class="card-profile-stats-intro-content">
        <h3><%= user.firstName %></h3>
      </div> <!-- /.card-profile-stats-intro-content -->
    </div> <!-- /.card-profile-stats-intro -->
  </div>

  <div class="profile">
    <div class="profile-summary">
      <h3>Profile Summary</h3>
      <ul>
        <li><b>Name:</b> <%= user.firstName %></li>
        <li><b>Email: </b>Don't show this for privacy reasons</li>
        <li><b>Gender:</b> <%= user.gender %></li>
        <form method="GET" action="/users/<%=user.id%>/update">
          <button class="button primary expanded" href="#">edit profile</button>
        </form>
      </ul>
    </div>

    <hr>

    <div class="profile-matchmaking">
    <h3>Your matchmaking profile: </h3>
    <ul>
      <li><b>Personality:</b> <%= response[0].answer %></li>
      <li><b>Do you mind living with pets?</b> <%= response[1].answer %></li>
      <li><b>Do you smoke?</b> <%= response[2].answer %></li>
      <li><b>Are you a night owl?</b> <%= response[3].answer %></li>
      <li><b>Do you mind living with someone of the opposite gender? </b> <%= response[4].answer %></li>
      <li><b>Do you prefer to have the house at a warmer or colder temperature?</b> <%= response[5].answer %></li>
      <li><b>On a scale of 1-10, how important is it that your space is kept
          clean?</b> <%= response[6].answer %></li>
      <li><b>On a scale of 1-10, how much would you mind if your roommate had guests over often?</b>
        <%= response[7].answer %></li>
      <li><b> On a scale of 1-10, how much do you like The Avengers?</b> <%= response[8].answer %></li>
      <li><b>On a scale of 1-10, how much do you like Pikachu?</b> <%= response[9].answer %></li>
      <li><b>Preferred Neighbourhood:</b> <%= response[10].answer %></li>
    </ul>

    <form method="GET" action="/users/<%=user.id%>/questionnaire">
      <button class="button primary expanded" href="#">edit profile</button>
    </form>
  </div>
  </div>

</body>

</html>