<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Profile Summary</title>

  <link rel='stylesheet' href='/stylesheets/foundation.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <link rel='stylesheet' href='/stylesheets/summary.css' />
  <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.8.1/css/all.css”
    integrity=“sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf” crossorigin=“anonymous”>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
</head>

<body>

  <% include ./partials/_navbar %>

  <div class="profile-page" class="mask pattern-8 flex-center">
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <div class="avatar">
                  <img src="https://i.kym-cdn.com/entries/icons/facebook/000/011/061/lelbron.jpg" alt="Circle Image"
                    class="img-raised rounded-circle img-fluid">
                </div>
                <div class="name">
                  <h3 class="title"><%= user.firstName %></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <ul class="questionnaire-answers">
              <li><b>Gender:</b> <%= user.gender %></li>
              <li><b>Bio:</b> <%= response[11].answer %>.</li>
            </ul>
            <form method="GET" action="/users/<%=user.id%>/update">
              <button class="btn btn-primary" href="#">Edit Profile Information</button>
            </form>
            <hr>

            <ul class="questionnaire-answers">
              <li><b>Personality:</b> <%= response[0].answer %></li>
              <hr>
              <li><b>Do you mind living with pets?:</b> <% if (response[1].answer === 'y') { %>
                Yes
                <% } else { %>
                No
                <% } %></li>
              <hr>
              <li><b>Do you smoke?: </b> <% if (response[2].answer === 'y') { %>
                Yes
                <% } else { %>
                No
                <% } %></li>
              <hr>
              <li><b>Are you a night owl?: </b><% if (response[3].answer === 'y') { %>
                Yes
                <% } else { %>
                No
                <% } %></li>
              <hr>
              <li><b>Do you mind living with someone of the opposite gender?: </b>
                <% if (response[4].answer === 'y') { %>
                Yes
                <% } else { %>
                No
                <% } %></li>
              <hr>
              <li><b>Do you prefer to have the house at a warmer or colder temperature?</b>
                <% if (response[5].answer === 'h') { %>
                Warmer
                <% } else { %>
                Cooler
                <% } %></li>
              <hr>
              <li><b>On a scale of 1-10, how important is it that your space is kept
                  clean?: </b> <%= response[6].answer %></li>
              <hr>
              <li><b>On a scale of 1-10, how much would you mind if your roommate had guests over often?:</b>
                <%= response[7].answer %></li>
              <hr>
              <li><b> On a scale of 1-10, how much do you like The Avengers?:</b> <%= response[8].answer %></li>
              <hr>
              <li><b>On a scale of 1-10, how much do you like Pikachu?:</b> <%= response[9].answer %></li>
              <hr>
              <li><b>Preferred Neighbourhood:</b> <%= response[10].answer %></li>
            </ul>

            <form method="GET" action="/users/<%=user.id%>/questionnaire">
              <button class="btn btn-primary" href="#">Change Questionnaire Answers</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/_footer %>

  </div>

  <script src="/scripts/profile.js"></script>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/what-input.js"></script>
  <script src="/scripts/foundation.js"></script>
  <script src="/scripts/app.js"></script>
</body>

</html>